
.flex-header-container {
    border: 5px solid blue;
    display:flex;
    flex-direction:row;
}

.header-content {
    align-items: center;
    border: 3px solid blue;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.main-container {
    background-color: white;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.main-container > div {
    background-color:white;
}

.feed-sidebar-container{
    border: 3px solid blue;
    display: flex;  
    flex-direction: row;
    height:100%;
    width: 100%;
}

.feed-container{
    border: 3px solid blue;
    width: 100%;
}

.sidebar-container {
    border:3px solid blue;
    display: flex;
    flex-direction: column;
    width:30%;
}

