 /*For debugging */

 div {
    border: 5px solid darkblue
}

 div p {
    border: 5px solid purple 
}

div button {
    border: 5px solid burlywood
}

.main-container {
    border: 5px solid rgb(248, 4, 4);
}

.avatar-img {
    border: 10px solid rgb(243, 121, 141)
}

.header {
    border: 10px solid rgb(233, 211, 10)
}

.shares-feed {
    border: 10px solid black
}

 /*End debugging styles*/

