 /*For debugging */

.avatar {
    border: 3px solid crimson
}
.header-container {
    border: 5px solid forestgreen;
    display:flex;
    flex-direction:row;
}

.header-content {
    border: 3px solid crimson; 
    width: 100%;
}

.main-container {
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.feed-sidebar-container{
    border: 3px solid forestgreen;
    display: flex;  
    flex-direction: row;
    height:100%;
    width: 100%;
}

.feed-container{
    border: 3px solid crimson;
    width: 100%;
    height: 100%;
}

.sidebar-container {
    border:3px solid crimson;
    display: flex;
    flex-direction: column;
    height:100%;
    width:30%;
}


 /*End debugging styles*/

