.profile-header-avatar {
    border: 1px solid black;
}

.profile-header-avatar-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.profile-header-avatar-btn-container {
  display:flex;
  flex-direction: row; 
  justify-content:space-between;
}






