.profile-header-grid-container .profile-header-avatar-col {
  grid-column: 1;
  grid-row:2;
  padding: 3px 3px 3px 3px;
  margin: 5px 5px 5px 5px;
}

.profile-header-avatar-modal {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.img {
  height:150px;
  width:150px;
}








