.modal {
    position: absolute;
    height:300px;
    width:300px;
    top: 30%;
    left: 40%;
    background-color:rgb(230, 228, 228);
}

.closeBtn {
    position: "fixed";
    top: 0;
    right: 0;
    background: "#fff";
    width: "2.5rem";
    height: "2.5rem";
    padding: 0;
    border: 0;
    cursor: "pointer";
    outline: 0;
  }