img {
    height:150px;
}

header {
    align-items:center;
    display:flex;
    flex-direction:column;
}

input {
    border-radius: 25px;
}

input:hover {
    align-items:center;
    display:flex;
    flex-direction:column;
    padding: 10px 10px 10px 10px;
    transition: padding .9s;
}
.header-img {
    height:300px;
    width:300px;
}



