.main-header {
  background-color:rgb(35, 203, 245);
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

.main-header .container {
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
    height:75px;
}

.main-header img {
    height:70px;
}
