.global-header-grid-container {
  display:grid;
  align-items: center;
  grid-column-gap: 20px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px #77777766;
  margin-bottom: 15px;
}
.global-header-grid-container img {
    height:70px;
}
