.container {
    display:flex;
}

input[type=text]#search:hover {
    align-items:center;
    display:flex;
    flex-direction:column;
    padding: 10px 10px 10px 10px;
    background-image:'none';
    transition: padding .9s;
}

input[type="text"]#search:focus {
    outline: none
}

input[type='text']#search {
    font-size:30px;
    align-self: stretch;
} 

input#search::placeholder {
    background-image: url("");
    background-repeat: no-repeat;
    text-indent: 20px;
}